.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 2rem;
}